html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Saira Extra Condensed', sans-serif;
  color: #222324;
  background-color: #DFE0E2;
}

a {
  color: #b1ad38;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

svg {
  vertical-align: bottom;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
}

nav {
  margin: 1.25rem;
}

h1 {
  margin-bottom: 0;
}
